* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav li.contact, h1, h2, h3, span.name, article.full span.learn-more {
    font-family: "Fraunces", serif;
}
p, li, span.occupation {
    font-family: "Barlow", sans-serif;
}
p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3em;
}
body {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    background-color: white;
}
header {
    background: url(images/desktop/image-header.jpg) no-repeat center;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4.5fr;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position: relative; */
}
header > div {
    grid-column: span 2;
    display: grid;
    justify-content: center;
}

img.logo {
    padding: 3.7%;
}
nav.desktop {
    padding: 2%;
}
nav.mobile {
    position: absolute;
    padding: 2%;
}
ul {
    list-style-type: none;
}
nav.desktop li {
    color: white;
    display: inline-block;
    padding: 2em;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
nav.desktop li.contact {
    color: hsl(212, 27%, 19%);
    background-color: white;
    border-radius: 40px;
    padding: 20px 33px;
    margin-left: 3px;
    font-weight: 700;
    text-transform: uppercase;
}
.header-title {
    color: white;
    font-family: "Fraunces";
    font-size: 3.5em;
    letter-spacing: 13px;
    margin-top: -2em;
}
img.arrow {
    justify-self: center;
    margin-bottom: 2em;
}
img.full {
    width: 100%;
    height: 100%;
}
article.full {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
}
article.full div {
    display: grid;
    justify-content: center;
}
article.full h2 {
    color: hsl(212, 27%, 19%);
    font-size: 2.8em;
}
article.full p {
    color: hsl(232, 10%, 55%);
    padding: 2em 0 3em;
    font-size: 18px;
}
article.full span.learn-more a {
    padding-left: 5px;
    font-weight: 800;
    color: hsl(212, 27%, 19%);
    text-decoration: underline solid 3px;
}
article.transform span.learn-more a {
    text-decoration-color: hsl(51, 100%, 85%);
}
article.stand-out span.learn-more a {
    text-decoration-color: hsl(7, 100%, 88%);
}
.a-graphics {
    background: url(images/desktop/image-graphic-design.jpg) center no-repeat;
    background-size: cover;
    padding: 26em 0 4em;
}
.a-photography {
    background: url(images/desktop/image-photography.jpg) center no-repeat;
    background-size: cover;
    padding: 26em 0 4em;
}
div.on-image {
    text-align: center;
}
div.on-image h2 {
    font-size: 1.7em;
}
div.on-image p {
    padding-top: 1.7em;
    line-height: 1.5em;
}
div.graphics {
    color: hsl(167, 40%, 24%);
}
div.graphics p {
    color: hsl(167, 37%, 32%);
}
div.photography {
    color: hsl(198, 62%, 26%);
}
div.photography p {
    color: hsl(197, 62%, 30%);
}
section {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:  10em;
}
section h3 {
    grid-column: span 3;
    justify-self: center;
    padding-bottom: 4.2em;
    letter-spacing: 7px;
    color: hsl(210, 4%, 67%);
}
section div {
    text-align: center;
}
section img {
    width: 20%;
    border-radius: 100%;
}
section div p {
    color: hsl(213, 9%, 39%);
    padding: 3em 0;
    font-size: 18px;
    line-height: 1.7em;
}
section span {
    display: block;
}
section span.name {
    font-size: 20px;
    font-weight: 800;
    color: hsl(212, 27%, 19%);
    padding: 1em 0 0.5em;
}
section span.occupation {
    color: hsl(210, 4%, 67%);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.4px;
}
.the-four {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
footer {
    background-color: hsl(168, 79%, 74%);
    padding: 4em;
    grid-column: span 2;
    display: grid;
    justify-content: center;
}
footer img {
    padding: 1em;
}
footer nav {
    margin: 2.5em;
}
footer div {
    max-width: 100%;
    margin: 0 auto;
    padding-right: 3em;
}
footer div img {
    width: 115%;
}
.bottom-nav {
    display: grid;
    justify-content: center;
}
.bottom-nav ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}
.bottom-nav ul li {
    color: hsl(167, 40%, 24%);
    padding: 0 1.5em;
    font-size: 18px;
    font-weight: 600;
}
nav.socials {
    display: grid;
    justify-content: center;
}
nav.socials ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


/*hover styles*/

nav.desktop li:hover {
    cursor: pointer;
    color: white;
    background-color: skyblue;
    border-radius: 40px;
    padding: 1.2em 2em;
    transition-duration: 0.1s;
}
article.full span.learn-more a:hover {
    cursor: pointer;
    text-decoration: underline solid 4px;
    transition-duration: 0.1s;
}
article.transform span.learn-more a:hover {
    text-decoration-color: hsl(51, 100%, 49%);
}
article.stand-out span.learn-more a:hover {
    text-decoration-color: hsl(7, 99%, 70%);
}
.bottom-nav ul li:hover {
    cursor: pointer;
    color: white;
    transition-duration: 0.1s;
}
 


/* responsive styles */


@media screen and (min-width: 1001px) {
    .mobile {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .desktop {
        display: none;
    }
    .hidden {
        display: none;
    }
    body {
        max-width: 350px;
        margin: 0 auto;
        gap: 0;
        box-shadow: hsl(0, 0%, 90%) 1px 1px 5px 5px;
    }
    header {
        background: url(images/mobile/image-header.jpg) center no-repeat;
        background-size: cover;
        grid-template-rows: 1fr 8fr;
        transition: all ease-in 0.5s;
    }
    .header-title {
        font-size: 2.5em;
        letter-spacing: 0.2em;
        margin-top: -0.8em;
    }
    img.logo {
        margin: 12% 0 0 12%;
    }
    img.arrow {
        margin-top: 3em;
    }
    #burger {
        padding-block: 1em 0.9em;
        padding-inline-end: 1.5em;
        cursor: pointer;
        justify-self: end;
        align-self: end;
        
    }
    #burger.opac {
        opacity: 0.5;
    }
    #menu {
        background-color: white;
        color: hsl(232, 10%, 55%);
        padding: 1.5em 5em;
        margin-left: 1em;
        font-weight: 600;
        text-align: center;
    }    
    #menu li {
        margin-block: 1.6em;
        cursor: pointer;
    }
    #menu li.contact {
        background-color: hsl(51, 100%, 49%);
        padding: 1em 1.4em;
        color: hsl(199, 62%, 16%);
        text-transform: uppercase;
        border-radius: 100vmax;
    }
    header h1 {
        top: 25%;
        left: 2%;
        font-size: 2.5em;
        text-align: center;
        letter-spacing: 5px;
    }
    img.arrow {
        top: 51%;
        left: 46%;
    }
    article.full img {
        grid-column: span 2;
        grid-row: 1;
    }
    article.full div {
        grid-column: span 2;
        padding: 4em 1.1em;
        text-align: center;
    }
    article.full h2 {
        font-size: 2em;
    }
    article.full div p {
        padding: 1.2em 0 1.9em;
    }
    .a-graphics {
        background: url(images/mobile/image-graphic-design.jpg) no-repeat center;
        background-size: cover;
        grid-column: span 2;
    }
    .a-photography {
        background: url(/images/mobile/image-photography.jpg) no-repeat center;
        background-size: cover;
        grid-column: span 2;
    }
    div.on-image h2 {
        font-size: 1.7em;
    }
    div.on-image p {
        font-size: 15.4px;
        line-height: 1.7em;
    }
    section {
        padding: 4em 0;
    }
    section h3 {
        font-size: 1em;
        padding-bottom: 2em;
        letter-spacing: 4px;    
    }
    section div {
        grid-column: span 3;
        padding: 2em 0;
    }
    .the-four img {
        grid-column: span 2;
    }
}